@model IEnumerable<OnlineBookingModel.BookingRecordModel>

@{
    ViewBag.Title = "BookingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script type="text/javascript">
    var CancelBooking = function (id) {
        artDialog({
            content: "Confirm Cancel?", lock: true, icon: "question", title: "Confirm",
            ok: function () {
                $.post("/api/RoomAction/Cancel", { bookId: id }, function (result) {
                    if (result == 0)
                        artDialog({ title: 'Success', lock: true, content: 'Booking Cancelled', icon: 'succeed', ok: function () { window.location.reload(); } });
                    else
                        artDialog({ title: 'Fail', lock: true, content: 'Cancel Failed', icon: 'error', ok: true });
                });
            }, cancel: true
        });
    };

    var showBookDialog = function () {
        artDialog({
            title: 'Add Booking', content: $("#divAddBooking")[0], lock: true,
            button: [{
                name: "Prev",
                disabled: true,
                callback: function () {
                    $("#divBookingInfoPart2").hide();
                    $("#divBookingInfoPart1").show();
                    this.button({ name: "Prev", disabled: true }).button({ name: "Next", disabled: false }).button({ name: "Save", disabled: true });
                    return false;
                }
            }, {
                name: "Next",
                callback: function () {
                    if ($("#frmBookingInfoPart1").validationEngine("validate")) {
                        var checkinDate = $("#txtCheckinDate").val();
                        var checkoutDate = $("#txtCheckoutDate").val();
                        $.post("/api/RoomAction/GetAvailableRoom", { checkinDate: checkinDate, checkoutDate, checkoutDate }, function (result) {
                            var rl = $.parseJSON(result);
                            $("#selAvailableRooms option").remove();
                            for (var i = 0; i < rl.length; i++) {
                                $("#selAvailableRooms").append("<option value='" + rl[i].RoomId + "'>" + rl[i].RoomCode + "--" + rl[i].RoomTypeName + "</option>");
                            }
                            $("#divBookingInfoPart2").show();
                            $("#divBookingInfoPart1").hide();
                        });
                        this.button({ name: "Next", disabled: true }).button({ name: "Prev", disabled: false }).button({ name: "Save", disabled: false });
                    }

                    return false;
                }
            }, {
                name: "Save",
                disabled: true,
                focus: true,
                callback: function () {
                    if ($("#frmBookingInfoPart2").validationEngine("validate")) {
                        var roomId = $("#selAvailableRooms").val();
                        var customerName = $("#txtCustomerName").val();
                        var customerMobile = $("#txtCustomerMobile").val();
                        var customerEmail = $("#txtCustomerEmail").val();
                        var checkinDate = $("#txtCheckinDate").val();
                        var checkoutDate = $("#txtCheckoutDate").val();
                        $.post("/api/RoomAction/Booking", { roomId: roomId, customerName: customerName, customerMobile: customerMobile,customerEmail:customerEmail, checkinDate: checkinDate, checkoutDate: checkoutDate }, function (result) {
                            window.location.reload();
                        });
                    }
                    return false;
                }
            }, {
                name: "Close",
            }]
        });
    };

    $(document).ready(function () {
        $("#frmBookingInfoPart1,frmBookingInfoPart2").validationEngine({
            validationEventTriggers: "blur", //触发的事件   validationEventTriggers:"blur",
            inlineValidation: false,//是否即时验证，false为提交表单时验证,默认true
            success: false,//为true时即使有不符合的也提交表单,false表示只有全部通过验证了才能提交表单,默认false
            promptPosition: "upright",//提示所在的位置，topLeft, topRight, bottomLeft,  centerRight, bottomRight
            //failure : function() { alert("验证失败，请检查。");  }//验证失败时调用的函数
            //success : function() { callSuccessFunction() },//验证通过时调用的函数
        });
    });
</script>


<table class="table" style="margin-top:10px;border:solid 1px lightgray; border-collapse:collapse; width:60%">
    <tr style="text-align:center">
        <th colspan="8" style="text-align:center">Booking List</th>
    </tr>
    <tr style="text-align:center">
        <th style="text-align:center">RoomCode</th>
        <th style="text-align:center">CustomerName</th>
        <th style="text-align:center">CustomerMobile</th>
        <th style="text-align:center">CheckinDate</th>
        <th style="text-align:center">CheckoutDate</th>
        <th style="text-align:center">OperationStaffName</th>
        <th style="text-align:center">OperationTime</th>
        <th style="text-align:center">Action</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr style="text-align:center">
        <td>
            @item.RoomCode
        </td>
        <td>
            @item.CustomerName
        </td>
        <td>
            @item.CustomerMobile
        </td>
        <td>
            @item.CheckinDate.ToString("MM-dd")
        </td>
        <td>
            @item.CheckoutDate.ToString("MM-dd")
        </td>
        <td>
            @item.OperationStaffName
        </td>
        <td>
            @item.OperationTime
        </td>
        <td>
            @if (item.CheckinDate > DateTime.Today)
                {
                <input type="button" value="Cancel" onclick="CancelBooking(@item.Id);" />
                }
                else
                {
                <label>无法取消</label>
                }
        </td>
    </tr>
    }

</table>
<div style="display:none; width:400px;height:130px;  " id="divAddBooking">
    <div id="divBookingInfoPart1">
        <form id="frmBookingInfoPart1">
            <div style="margin-top:10px;">
                <label>Checkin Date</label>
                <input type="text" class="validate[required,date]" value="" id="txtCheckinDate" style="width:150px;" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',minDate:'%y-%M-%d' });" />
            </div>
            <div style="margin-top:10px;">
                <label>Checkout Date</label>
                <input type="text" class="validate[required,date]" value="" id="txtCheckoutDate" style="width:150px;" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'%y-%M-%d',maxDate:'@DateTime.Today.AddMonths(1).ToShortDateString()'});" />
            </div>
        </form>
    </div>
    <div id="divBookingInfoPart2" style="display:none">
        <form id="frmBookingInfoPart2">
            <div style="margin-top:10px;" id="divBookingUser">
                <div>
                    <label>Customer Name</label>
                    <input type="text" id="txtCustomerName" class="validate[required]" value="" style="width:150px;" />
                </div>
                <div style="margin-top:10px;">
                    <label>Customer Mobile</label>
                    <input id="txtCustomerMobile" type="text" class="validate[required]" value="" style="width:150px;" />
                </div><div style="margin-top:10px;">
                    <label>Customer Email</label>
                    <input id="txtCustomerEmail" type="text" class="validate[required]" value="" style="width:150px;" />
                </div>
                <div style="margin-top:10px;">
                    <label>Available Room</label>
                    <select id="selAvailableRooms" class="validate[required]" style="width:150px; height:25px;"></select>
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <input type="button" onclick="javascript: showBookDialog();" title="" value="Add" />
</div>